.page-header {
  position: relative;
  background: url("../images/cover_about.png") no-repeat center center;
  background-size: cover;
  height: 500px;
}

.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.page-title {
  position: absolute;
  bottom: 10px;
  left: 75px;
  color: rgb(55, 55, 55);
  font-size: 4em;
  z-index: 2;
}

.content {
  /* margin-top: 50px;
    text-align:left;
    margin-left: 100px;
    margin-right: 100px;*/
  background: rgb(224, 251, 222);
  background: linear-gradient(
    360deg,
    rgb(245, 255, 245) 0%,
    rgb(200, 255, 193) 100%
  );
}

.about_text {
  text-align: left;
  padding: 50px;
}

.get-involved {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.babec-banner {
  max-height: 80px;
}

.cfg-banner {
  max-height: 80px;
}

.rectangles {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
  padding: 50px;
}

.rectangle p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.rectangle {
  flex-basis: calc(50% - 10px);
  max-width: calc(50% - 10px);
  width: 50%;
  height: 480px;
  padding: 50px;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.rectangle h2 {
  margin-top: 0;
}

.babeclogo {
  max-width: 250px;
  max-height: 100px;
  float: left;
  vertical-align: bottom;
}

.cfgbanner {
  position: relative;
  max-width: 400px;
  max-height: 100px;
  float: left;
  vertical-align: bottom;
  right: -180px;
}

#rectbabec {
  background-color: rgb(56, 163, 56);
  transition: 0.5s;
}

#rectbabec:hover {
  transform: scale(1.05);
}

#rectcfg {
  background-color: black;
  color: white;
  transition: 0.5s;
}

#rectcfg:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .rectangle {
    flex-basis: 100%;
    max-width: 100%;
  }
}

p {
  font-size: 20px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

p > a {
  font-style: bold;
  color: #4caf50;
}

p > a:hover {
  color: #45a049;
}
