footer {
  position: relative;
  top: 0px;
}

.contentwrapper {
  margin: 0;
}

.hero {
  max-width: 100%;
  position: relative;
  top: 0px;
}

.hero h1 {
  position: absolute;
  top: 700px;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  margin-left: 30px;
}

.hero img {
  width: 100%;
  margin: 0;
}

.about {
  margin: 0;
  padding: 0;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-image: "./map1.png";
  background-size: cover;
}
.map {
  width: 100%;
  height: 600px;
  margin: 0;
  display: inline-block;
  padding: 0;
}

.aboutoverlay {
  width: 500px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  text-align:center;
  padding: 50px;
  position: absolute;
  margin: 0;
}

.aboutoverlay h1 {
  margin-top: 0; /* Reset the top margin for the <h1> element */
  font-size: 50px;

  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.involvement {
  background-color: #707aab;
  position: relative;
  padding: 50px;
  display: block;
  height: 500px;
  box-sizing: border-box;
  color: white;
}

.involvementtitle{
  width:100%;
  display:block;
}

.involvement h1 {
  font-size: 50px;
  text-align:center;
}

.flexcontainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-basis:100%;
}

.contact,
.lab,
.form {
  width: 30%;
  text-align: center; /* Center the text within each item */
}

.contact img,
.lab img,
.form img {
  width: 30%; /* Make the image take the full width of its container */
  height: auto; /* Maintain the aspect ratio of the original image */
}
