.leaflet-container {
  height: 100%;
  width: 100%;
}

.mappage-wrapper {
  height: 100%;
}

.mainMap {
  height: 100vh;
  width: 100vw;
}

.popup {
  position: absolute;
  float: left;
  top: 25%;
  left: 50px;
  height: 70%;
  width: 25%;
  background-color: white;
  z-index: 500;
  border-radius: 15px;
}

.popup h3 {
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  position: absolute;
}
.popup p {
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}
.popup img {
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}

.mapdiv {
  height: 50%;
  z-index: 3;
}

.divfooter footer {
  position: relative;
  top: 700px;
  z-index: 2;
}
