footer {
  width: 100%;
  background-color: #54565a;
  padding: 20px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 25% 5% 20% 25% 5% 20%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "babec-logo about1 aboutlink1 cfg-logo about2 aboutlink2"
    "babec-logo email1 emaillink1 cfg-logo email2 emaillink2";
  align-items: center;
  justify-content: center;
}

.footer-wrapper a {
  font-style: bold;
  color: white;
}

.footer-wrapper img {
  width: 100%;
}

.babec-logo {
  grid-area: "babec-logo";
}
.about1 {
  grid-area: "about1";
}
.aboutlink1 {
  grid-area: "aboutlink1";
}
.email1 {
  grid-area: "email1";
}
.emaillink1 {
  grid-area: "emaillink1";
}
.cfg-logo {
  grid-area: "cfg-logo";
}
.about2 {
  grid-area: "about2";
}
.aboutlink2 {
  grid-area: "aboutlink2";
}
.email2 {
  grid-area: "email2";
}
.emaillink2 {
  grid-area: "emaillink2";
}

.item {
  color: rgb(45, 27, 27);
  font-size: 24px;
  text-decoration: none;
  position: fixed;
  top: 15px;
}

.link {
  list-style-type: none;
  text-align: left; /*need to find a way to align the list on the right but keep the text itself left aligned*/
  text-decoration: none;
  text-indent: 100px;
}

.footerlogo {
  max-width: 250px;
  max-height: 100px;
  float: left;
  vertical-align: bottom;
  padding-right: 30px;
}

.cfgbanner {
  max-width: 400px;
  max-height: 100px;
  float: left;
  vertical-align: bottom;
  padding-right: 350px;
}

.divider {
  border-left: 2px solid black;
  height: 100px;
  float: left;
  vertical-align: center;
  padding-right: 30 px;
}

.row a:link {
  color: white;
  text-decoration: none;
}

.row a:hover {
  text-decoration: underline;
}

.row a:visited {
  color: white;
}

.row strong {
  color: white;
}
