.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: flex-start; /* Horizontally align items to the right */
    flex-flow: row wrap;
    gap: 30px;
}

.logo{
    max-height: 70px;
}

.navbar h1{
    color: green;
    font-weight: bold;
    margin-right: 15vw;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.list >li {
    margin-right: 8vw;
    display: inline-block;
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    justify-content: flex-end; 
}

.navbar a:visited{
    color: black;
}

.navbar a:link{
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    text-decoration: underline;
    color: green;
    /*probably make this like a color changing box or smth instead of this for navbar*/
}


